.applink__inner
  .applink__inner__title
    だれでもかんたん、人生を変えるフリマアプリ
  .applink__inner__text
    今すぐ無料ダウンロード！
  .applink__inner__link
    = link_to image_tag("itemsimage/appstoer.png", size: "180x53", class: 'link__btn'),"#"
    = link_to image_tag("itemsimage/googleplay.png", size: "180x53", class: 'link__btn'),"#"