*{
  box-sizing: border-box;
}

.sell-header{
  height: 128px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 245, 245);
  &__logo{
    display: block;
    height: 55px;
  }
}

.sell-form__container{
  background-color: rgb(245, 245, 245);
  .sell-form{
    width: 700px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    hr{
      height: 2px;
      background-color: rgb(245, 245, 245);
      border: none;
    }
    &__title{
      font-size: 15px;
      font-weight: 550;
    }
    &__require{
      background-color: #ff0211;
      color: #fff;
      margin-left: 8px;
      font-size: 15px;
      padding: 0 4px;
      border-radius: 2px;
    }
    &__optional{
      background-color: #bfbfbf;
      color: #fff;
      margin-left: 8px;
      font-size: 15px;
      padding: 0 4px;
      border-radius: 2px;
    }
    &__image{
      height: 300px;
      padding: 16px;
      p{
        font-size: 14px;
        margin-top: 16px;
      }
    }
    &__profile{
      height: 451px;
      padding: 16px;
      &__group--explanation{
        margin-top: 32px;
      }
    }
    &__content{
      height: 444px;
      padding: 16px;
      &__sub-title{
        color: rgb(136, 136, 136);
        font-weight: 550;
        margin-bottom: 24px;
      }
      &__group{
        margin-top: 32px;
      }
    }
    &__content.price{
      height: 270px;
      padding: 16px 16px 0;
    }
    &__submit{
      width: 360px;
      height: 164px;
      margin: auto;
    }
    &__notation{
      height: 96px;
      font-size: 12px;
      padding: 0 40px;
    }
  }
}


.sell-footer{
  height: 200px;
  width: 100%;
  padding: 20px 0 40px;
  background-color: rgb(245, 245, 245);
  &__rules{
    height: 54px;
    &__lists{
      display: flex;
      justify-content: center;
      li{
        margin: 16px 0 0 16px;
        a{
          text-decoration: none;
          color:black;
        }
      }
    }
  }
  &__logo{
    display: block;
    margin: 0 auto 10px;
    height: 60px;
  }
  &__copyright{
    text-align: center;
    font-size: 12px;
    color: black;
  }
}