*{
  box-sizing: border-box;
}

.sell-header{
  height: 128px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 245, 245);
  &__logo{
    display: block;
    height: 55px;
  }
}

.sell-form__container{
  background-color: rgb(245, 245, 245);
  .sell-form{
    width: 700px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    hr{
      height: 2px;
      background-color: rgb(245, 245, 245);
      border: none;
    }
    &__title{
      font-size: 15px;
      font-weight: 550;
    }
    &__require{
      background-color: #ff0211;
      color: #fff;
      margin-left: 8px;
      font-size: 15px;
      padding: 0 4px;
      border-radius: 2px;
    }
    &__optional{
      background-color: #bfbfbf;
      color: #fff;
      margin-left: 8px;
      font-size: 15px;
      padding: 0 4px;
      border-radius: 2px;
    }
    &__input{
      margin-top: 16px;
      &--text_field{
        border: 1px solid #ccc;
        border-radius: 4px;
        height: 48px;
        padding: 0 16px;
        width: 100%;
      }
      &--text_area{
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        padding: 13px 16px;
      }
      &--select{
        -webkit-appearance: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        height: 48px;
        padding: 0 56px 0 16px;
        width: 100%;
      }
      &--price{
        display: inline-block;
        margin-left: 200px;
        &--number_field{
          border: 1px solid #ccc;
          border-radius: 4px;
          height: 48px;
          padding: 0 16px;
          width: 285px;
        }
      }
    }
    &__image{
      padding: 40px;
      &__input{
        margin-top: 16px;
      }
      p{
        font-size: 14px;
        margin-top: 16px;
      }
    }
    &__profile{
      padding: 40px;
      &__group--explanation{
        margin-top: 32px;
      }
    }
    &__content{
      padding: 40px;
      &--price{
        padding: 40px 40px 0;
        &__group{
          padding: 30px 0;
        }
        &--fee{
          padding: 12px 0;
          &__title{
            font-size: 14px;
          }
        }
      }
      &__sub-title{
        color: rgb(136, 136, 136);
        font-weight: 550;
        font-size: 15px;
        margin-bottom: 24px;
      }
      &__group{
        margin-top: 32px;
      }
    }
    &__btn{
      width: 360px;
      height: 164px;
      margin: auto;
      font-size: 17px;
      text-align: center;
      &--submit{
        width: 100%;
        height: 48px;
        background-color: #3CCACE;
        color: #fff;
        border-radius: 4px;
        border: 1px solid transparent;
        font-weight: 600;
        margin-bottom: 24px;
      }
      &--back{
        text-decoration: none;
        color: #0095ee;
      }
    }
    &__notation{
      height: 96px;
      font-size: 12px;
      padding: 0 40px;
    }
  }
}

.sell-footer{
  height: 200px;
  width: 100%;
  padding: 20px 0 40px;
  background-color: rgb(245, 245, 245);
  &__rules{
    height: 54px;
    &__lists{
      display: flex;
      justify-content: center;
      li{
        margin: 16px 0 0 16px;
        font-size: 12px;
        a{
          text-decoration: none;
          color:black;
        }
      }
    }
  }
  &__logo{
    display: block;
    margin: 0 auto 10px;
    height: 60px;
  }
  &__copyright{
    text-align: center;
    font-size: 12px;
    color: black;
  }
}