.confirm {
  border-bottom: 1px solid skyblue;
  display: flex;
  padding: 30px 0px;
  &__text {
    margin-left: 15px;
    &__name {
      font-size: 14px;
    }
    &__price {
      font-size: 12px;
      font-weight: bold;
    }
  }
}
.money {
  border-bottom: 1px solid skyblue;
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
  font-weight: bold;
  font-size: 18px;
}

.method {
  border-bottom: 1px solid skyblue;
  padding: 30px 0px;
  &__text {
    font-weight: bold;
  }
  &__register {
    margin-top: 10px;
    a {
      color: #8EB8FF;
    }
  }
  table {
    margin-top: 10px;
    width: 100%;
    tbody { 
      width: 100%;
      tr {
        height: 20px;
        th {
          @include th
        }
        td {
          @include td
        }
      }
    }
  }
}

.delivery {
  border-bottom: 1px solid skyblue;
  padding: 30px 0px;
  &__text {
    font-weight: bold;
  }
  &__address {
    margin-top: 10px;
  }
  table {
    margin-top: 10px;
    width: 100%;
    tbody { 
      width: 100%;
      tr {
        height: 20px;
        th {
         @include th
        }
        td {
          @include td
        }
      }
    }
  }
}

.submit {
  &__btn {
    p {
      line-height: 50px;
      text-align: center;
    }
  }
}