.main{
  background-color: $GrayColor;
  .showmain{
    padding: 40px;
    margin: 0 auto;
    &__item{
      background-color: $whiteColor;
      width: 700px;
      margin: 0 auto;
      padding:  24px 40px 40px;
      h2{
        text-align: center;
        font-weight: bold;
        font-size: 24px;
      }
      .item__image{
        margin-top: 16px;
        ul{
          display: flex;
          position: relative;
          li{
            display: flex;
            flex-direction: column;
            width: 560px;
            align-items: center;
            margin: 0 auto;
            img{
              object-fit: cover;
              height: 346px;
              width: 100%;
            }
            ul{
              display: flex;
              justify-content: center;
              margin-top: 10px;
              li{
                width: 25%;
                margin-right: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                img{
                  object-fit: cover;
                  height: 87px;
                  width: 100%;
                }
              }
            }
          }
        }
      }
      .item__price{
        margin: 24px 0 24px;
        text-align: center;
        display: flex;
        flex-direction: column;
        span{
          font-size: 46px;
          font-weight: bold;
          margin-right: 10px;
        }
        p{
          font-size: 16px;
        }
      }
      .item__explanation{
        line-height: 1.5;
        font-size: 18px;
        margin-bottom: 30px;
      }
      .table{
        margin-bottom: 20px;
        table{
          width: 100%;
          height: 375px;
          border-collapse: collapse;
          border: 1px solid $GrayColor;
          tbody{
            display: table-row-group;
            vertical-align: middle;
            border-color: inherit;
            tr{
              display: table-row;
              vertical-align: inherit;
              border-color: inherit;
              th{
                width: 20px;
                background-color: #eee;
                font-weight: 400;
                padding: 8px;
                border: 1px solid #dedede;
                font-size: 14px;
                text-align: center;
              }
              td{
                width: 61%;
                padding: 15px 15px;
                border: 1px solid #dedede;
                font-size: 14px;
              }
            }
          }
        }
        a{
          color: $FurimaColor;
          text-decoration: none;
        }
      }
    }
  }
}

.link__btn{
  background-color: $GrayColor;
  width: 100%;
  padding: 5px 10px;
  &__sell{
    display: flex;
    justify-content: center;

    &__edit{
      background-color: rgb(204, 201, 201);
      width: 90%;
      max-width: 800px;
      color: $blackColor;
      font-weight: bold;
      margin-right: 10px;
    }
    &__destory{
      background-color: red;
      width: calc(100% - 60%);
      max-width: 300px;
      color: $whiteColor;
    }
  }
  &__buy{
    background-color: red;
    width: 100%;
    font-weight: bold;
    color: $whiteColor;
  }
  &__login{
    background-color: $FurimaColor;
    width: 100%;
    font-weight: bold;
    color: $whiteColor;
  }
  a{
    font-size: 20px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
}