.field__input__deadline {
  width: 35%;
  height: 40px;
}
.field__input__deadline:focus {
  @include foucus()
}

.input__privasy {
  font-size: 12px;
  margin-top: 10px;
  a {
    color: $blackColor;
    text-decoration: none;
    margin-right: 10px;
  }
  a:hover {
    text-decoration: underline;
  }
}

//show.html.haml
.card__erea__add__number {
  p {
    display: inline-block;
  }
}
.card__erea__add__year {
  p {
    display: inline-block;
  }
}