.sell-form
  .sell-form__photos
    出品画像
.sell-form
  .sell-form__name
    商品名
  .sell-form__description
    商品の説明
.sell-form
  %p.sell_form__title
    商品の詳細
  .sell-form__category
    カテゴリー
  .sell-form__brand
    ブランド
  .sell-form__condition
    商品の状態
.sell-form
  %p.sell_form__title
    発送について
  .sell-form__shipping-payer
    発送料の負担
  .sell-form__shipping-from-area
    発送元の地域
  .sell-form__shipping-duration
    発送までの日数
.sell-form
  %p.sell_form__title
    価格 (¥300~9,999,999)
  .sell-form__price
    販売価格
  .sell-form__fee
    販売手数料
  .sell-form__profit
    販売利益
.sell-form
  .sell-form__btn
    出品する
.sell-form
  .sell-form__notation
    禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。