@mixin foucus{
  outline: none;
  border-radius: 5px;
  border: 1px solid skyblue;
}

@mixin input {
  border-radius: 5px;
  -webkit-appearance: none;
  border: 1px solid #cccccc;
}

@mixin block__title {
  background-color: $whiteColor;
  width: 50%;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

@mixin block {
  height: 50px;
  display: flex;
  font-weight: bold;
}

@mixin th {
  width: 30%;
  background-color: #eeeeee;
  padding: 8px;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

@mixin td {
  width: 70%;
  padding: 15px 15px;
  border: 1px solid #dedede;
  font-size: 14px;
}

$blackColor: #333333;
$whiteColor: #ffffff;
$FurimaColor: #3ccace;
$GrayColor: #f8f8f8;
