.account {
  width: 700px;
  margin: 0 auto;
  &__login {
    height: 170px;
    text-align: center;
    background-color: $whiteColor;
    border-bottom: 1px solid #F0F8FFFF;
    p {
      display: inline-block;
      align-items: center;
      margin-top: 40px;
      line-height: 40px;
      color: $blackColor;
      font-size: 15px;
    }
    &__new {
      padding: 10px;
      background-color: #00BFFF;
      color: $whiteColor;
    }
    a {
      text-align: center;
      display: inline-block;
      width: 400px;
      text-decoration: none;
    }
  }
  .notation {
    font-size: 13px;
    margin-top: 10px;
    a {
      text-decoration: none;
      color: $blackColor;
      margin-left: 5px;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}